<div class="col-md-9 col-center static-content">
  <h3>Terms of Service ("Terms")</h3>

  <p>Please read these Terms of Service ("Terms", "Terms of Service") carefully before using the www.resiboapp.com website (the "Service") operated by GS Interactive, s.r.o. ("us", "we", or "our").</p>

  <p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.</p>

  <p>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.</p>

  <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time without notice. By continuing to access or use our Service after those revisions have been made, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service. You may always view the most recent copy of the Terms of Service here: http://www.resiboapp.com/terms/</p>


  <h4>Account Terms</h4>

  <p>Each user is also responsible for the security of their account information. Do not share, or make public, any of your sensitive account and login information.</p>


  <h4>Termination</h4>

  <p>We reserve the right to terminate any account at any time without notice and deny future service to anyone for any reason.</p>

  <p>The user has the right to cancel their account at any time. Once the account is cancelled all information associated with that account will be permanently deleted. Each user is solely responsible for account cancellation.</p>

  <p>Upon termination, your right to use the Service will immediately cease. If you wish to terminate your account, you may simply discontinue using the Service.</p>


  <h4>General Terms</h4>

  <p>The use of Service is at “your own risk.” The Service is offered “as is” and we makes no guarantees concerning the availability or “uptime” of the service.</p>

  <p>We are not liable for any direct or indirect damages to users of the Service as a result of using the Service in any way.</p>

  <p>We are not liable for the failure to enforce the Terms of Service and such incident does not negate the Terms of Service and the rights it provides.</p>

  <p>We have no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services.</p>


  <h4>Governing Law</h4>

  <p>These Terms shall be governed and construed in accordance with the laws of Czech Republic, without regard to its conflict of law provisions.</p>

  <p>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.</p>
</div>