<div class="page-title">
  <h3>Recurring <span class="semi-bold">Invoices</span></h3>
</div>

<div class="row">
  <div class="col-md-11">
    <div class="grid simple ">
      <div class="grid-body no-border plan-cencel-message">
        <%= link_to 'Upgrade your plan', subscription_plans_path %> to gain access to recurring invoices.
      </div>
    </div>
  </div>
</div>